<ng-container *ngIf="displayOnly">
  <h2 mat-dialog-title>{{ entry.title }}</h2>

  <mat-dialog-content>

    {{ entry.description }}

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Cancel</button>
    <button class="mat-raised-button" (click)="update()">Edit Todo</button>
    <button class="mat-raised-button" (click)="deleteTodo()">Delete</button>
  </mat-dialog-actions>

</ng-container>

<ng-container *ngIf="create || editMode">

  <h2 *ngIf="create" mat-dialog-title>New Todo</h2>
  <h2 *ngIf="editMode" mat-dialog-title>Edit Todo</h2>

  <mat-dialog-content [formGroup]="form">

    <mat-form-field class="space">
      <input matInput
             placeholder="Title"
             formControlName="title">
      <mat-error>
        <span *ngIf="f['title'].errors">required field</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="space">
          <textarea formControlName="description" placeholder="Description"
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="7"></textarea>
      <mat-error>
        <span *ngIf="f['description'].errors">required field</span>
      </mat-error>
    </mat-form-field>

    <mat-radio-group class="space" fxLayout fxLayoutAlign="center center" fxLayoutGap="2px"
                     formControlName="priority_level">
      <mat-label>Priority</mat-label>
      <mat-radio-button value="High">High</mat-radio-button>
      <mat-radio-button value="Low">Low</mat-radio-button>
      <mat-error>
        <span *ngIf="f['priority_level'].errors && !f.valid">required field</span>
      </mat-error>
    </mat-radio-group>

  </mat-dialog-content>

  <mat-dialog-actions class="space">
    <button class="mat-raised-button" (mousedown)="close()">Close</button>
    <button *ngIf="create" class="mat-raised-button mat-primary" (click)="createTodo()">Save</button>
    <button *ngIf="editMode" class="mat-raised-button mat-primary" (click)="editTodo()">Update</button>
  </mat-dialog-actions>
</ng-container>
