<ng-container *ngIf="displayOnly">
  <h2 mat-dialog-title>{{ dialogueTitle }}</h2>

  <mat-dialog-content>

    {{ content }}

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Cancel</button>
    <button class="mat-raised-button" (click)="update()">Edit Todo</button>
    <button class="mat-raised-button" (click)="deleteTodo()">Delete</button>
  </mat-dialog-actions>

</ng-container>

<ng-container *ngIf="editMode">

  <h2 mat-dialog-title>{{ dialogueTitle }}</h2>

  <mat-form-field>
    <input matInput [(ngModel)]="newTodoBody" placeholder="Edit todo">
  </mat-form-field>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Cancel</button>
    <button class="mat-raised-button" (click)="updateTodo()">Update</button>
  </mat-dialog-actions>

</ng-container>


<ng-container *ngIf="create">
  <h2 mat-dialog-title>New Todo</h2>

  <mat-dialog-content [formGroup]="form">

    <mat-form-field class="space" [ngClass]="{'error': (f['title'].errors && !f['title'].pristine)
     || (f['description'].errors && !f['description'].pristine)}">
      <input matInput
             placeholder="Title"
             formControlName="title">
      <mat-error>
        <span *ngIf="f['title'].errors">required field</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="space">
          <textarea formControlName="description" placeholder="Description"
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="7"></textarea>
      <mat-error>
        <span *ngIf="f['description'].errors">required field</span>
      </mat-error>
    </mat-form-field>

    <mat-radio-group class="space" fxLayout fxLayoutAlign="center center" fxLayoutGap="2px"
                     formControlName="priority_level">
      <mat-label>Priority</mat-label>
      <mat-radio-button value="high">High</mat-radio-button>
      <mat-radio-button value="low">Low</mat-radio-button>
    </mat-radio-group>

  </mat-dialog-content>

  <mat-dialog-actions class="space">
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="createTodo()">Save</button>
  </mat-dialog-actions>
</ng-container>
